aldryn-apphooks-config==0.2.7
aldryn-boilerplates==0.7.4
aldryn-categories==1.0.3
aldryn-common==1.0.4
aldryn-newsblog==1.3.0
aldryn-people==1.2.2
aldryn-reversion==1.0.9
aldryn-translation-tools==0.2.1
Babel==2.3.4
backport-collections==0.1
cmsplugin-filer==1.1.3
dj-database-url==0.4.1
Django==1.9
django-appconf==1.0.2
django-appdata==0.1.5
django-classy-tags==0.8.0
django-cms==3.4.1
django-filer==1.2.5
django-formtools==1.0
django-mptt==0.8.6
django-parler==1.6.5
django-phonenumber-field==1.1.0
django-polymorphic==0.8.1
django-reversion==1.10.2
django-sekizai==0.10.0
Django-Select2==4.3.2
django-sortedm2m==1.3.2
django-taggit==0.21.3
django-todo==1.6
django-treebeard==4.0.1
djangocms-admin-style==1.2.5
djangocms-attributes-field==0.1.1
djangocms-column==1.6.0
djangocms-googlemap==0.5.1
djangocms-inherit==0.2.1
djangocms-installer==0.8.10
djangocms-link==1.8.0
djangocms-style==1.7.0
djangocms-text-ckeditor==2.9.3
easy-thumbnails==2.3
html5lib==0.9999999
lxml==3.6.4
mysqlclient==1.3.7
phonenumbers==7.7.2
phonenumberslite==7.7.2
Pillow==3.4.1
python-dateutil==2.5.3
python-slugify==1.2.0
pytz==2016.4
six==1.10.0
tzlocal==1.2.2
Unidecode==0.4.19
YURL==0.13
