{% load cms_tags staticfiles sekizai_tags menu_tags account socialaccount %}
<!doctype html>
<html ng-app="smallBusinessApp">
    <head>
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
		<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
	
	    <title>Semtri Inc.</title>
	
		<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		
	    <!-- Bootstrap Core CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'css/small_business.css'%}">

	    <!-- Custom Fonts -->
	    <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
	    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
      
		<!-- Angular Material style sheet -->
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

        {% render_block "css" %}
        
		<!-- jQuery -->
	    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	   
	    <!-- Bootstrap Core JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	    <!-- Plugin JavaScript -->
	    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        
        <!-- django todo -->
        {% block extrahead %}{% endblock %}
    </head>
    <body {% block ng-controller %}{% endblock %}>
	   <script>
		window.fbAsyncInit = function() {
	   		FB.init({
				appId      : '1248229925205245',
				xfbml      : true,
				version    : 'v2.8'
				});
		};
	
		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
        {% cms_toolbar %}
                
		<!-- Navigation -->
	    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	        <div ng-controller="navCtrl" class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="container">
		            <div class="navbar-header">
		                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		                    <span class="sr-only">Toggle navigation</span> 
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                </button>
		                <a class="navbar-brand" href="/">Semtri Inc.</a>
		            </div>		        
		            <!-- Collect the nav links, forms, and other content for toggling -->
		            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		                <ul class="nav navbar-nav">
		                    {% show_menu 0 1 100 100 "menu.html" %}
		                </ul>
						{% if user.is_authenticated %}
		                <ul class="nav navbar-nav pull-right">
							<li>
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                					{% user_display user %}<span class="caret"></span>
								</a>
            					<ul class="dropdown-menu">
            						{% if user.is_staff %}
            						<li>
            							<a href="{% url 'todo-lists' %}">To-do Lists</a>
            						</li>
            						<li>
            							<a href="{% url 'todo-mine' %}">My Tasks</a>
            						</li>
            						<li>
            							<a href="/accounts/social/connections/">Social Accounts</a>
            						</li>
            						{% endif %}
									<li class="align-center">
										<form action="/accounts/logout/" method="post">
										{% csrf_token %}
										<input class="btn btn-default btn-block" type="submit" value="Logout" /> 
										</form>
									</li>
								</ul>
							</li>
			            </ul>
					    {% else %}
		                <ul class="nav navbar-nav pull-right">
					    	<li>
					    	 	<a ng-click="showLogin()">Login</a>
							</li>
			            </ul>
			            {% endif %}
			        </div>
		            <!-- /.navbar-collapse -->
	            </div>
	        </div>
	        <!-- /.container-fluid -->
	    </nav>
		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li {% if messges.tags %} class = "alert alert-{{ message.tags }}" {%endif %}>
				{{ message }}
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	    
		{% block header %}{% endblock header %}
		
		<div class="container">
			{% block content %}{% endblock content %}
		</div>
		
	    <!-- Footer -->
	    <footer class="text-center clearfix">
	        <div class="footer-above">
	            <div class="container">
	                <div class="row">
	                    <div class="footer-col col-md-4">
	                        <h3>CONTACT</h3>
	                        <p>28, Yatap-ro, Bundang-gu, 
	                        	<br>Seongnam-si, Gyeonggi-do, 
	                        	<br>13522, Rep. of KOREA
	                        </p>
	                        <p>
	                        +82-31-715-9456
	                        </p>
	                        <p>
	                        <a href="mailto:semtri@semtri.com">semtri@semtri.com</a>
	                        </p>
	                    </div>
	                    <div class="footer-col col-md-4">
	                        <h3>Around the Web</h3>
	                        <ul class="list-inline">
	                            <li>
	                                <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/Semtri-1471511353061303">
	                                <i class="fa fa-fw fa-facebook"></i></a>
	                            </li>
	                            <li>
	                                <a class="btn btn-social-icon btn-google" href="https://plus.google.com/107894219233011802450">
	                                <i class="fa fa-fw fa-google-plus"></i></a>
	                            </li>
	                            <li>
	                                <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/company/semtri-inc.">
	                                <i class="fa fa-fw fa-linkedin"></i></a>
	                            </li>
	                            <li>
	                                <a class="btn btn-social-icon btn-github" href="https://github.com/semtri">
	                                <i class="fa fa-fw fa-github"></i></a>
	                            </li>
	                        </ul>
	                    </div>
	                    <div class="footer-col col-md-4">
	                        <h3>About Semtri Inc.</h3>
	                        <p>Semtri will strive to achieve the advanced information technology with you.</p>
	                    	<div class="fb-like" 
							data-href="http://semtri.com" 
							data-layout="button_count" 
							data-action="like" 
							data-size="large" 
							data-show-faces="true" 
							data-share="true"></div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="footer-below">
	            <div class="container">
	                <div class="row">
	                    <div class="col-lg-12">
	                        Copyright &copy; Semtri Inc. 2016
	                        <a href="/disclaimer/privacy-policy">Privacy Policy </a>|
	                        <a href="/disclaimer/terms-service">Terms of Service</a>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </footer>
	
		<!-- Angular Material requires Angular.js Libraries -->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

		<!-- Angular Material Library -->
		<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
			    
	    <!-- Theme JavaScript -->
	    <script src="{% static "small_business_site/main.js" %}"></script>
        {% render_block "js" %}
    </body>
</html>
